body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom dark theme */

body {
  background: #000000;
  color: #aaaaaa;
}

a {
  color: #10e2c4;
}

button[disabled] {
  color: #000000;
}

button {
  background: #505050;
  color: black;
  margin: 5px;
  padding: 5px;
}